# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.local

.tmp.driveupload/

# Tailwind binary (downloaded during CI)
tailwindcss.exe
# Tailwind CLI binaries
tailwindcss
tailwindcss.exe
tailwindcss-linux-x64
tailwindcss-linux-arm64

# Build dependencies
node_modules/
.tmp/
temp/
